* {
    margin: 0;
    padding: 0;

}
body {
    margin: 0;
    padding: 0;
    display: flex;
}


.leftSection {
    width: 30vw; 
    height: 100vh;
    background-color: lightblue;
}

.main{
    /* width: 70vw; */
    /* height: 100vh; */
    margin: 0;
    padding: 0;

} 
/* why does the width of main not transfer down to child containers? */

.headerSection{
    display:flex; 
    align-items: center;
    width: 70vw;
    height: 40vh;
    background-color: rgb(221, 221, 221);
    font-size: 40px;
    font-family: Georgia;
    overflow: auto;
}

.headerSection p{
    margin-left: 4vw;
}

.mainForm{
    display: flex;
    align-items: center;
    width: 70vw;
    height: 40vh;
    background-color: rgb(237, 237, 237);
    font-family: "Helvetica";
    font-weight: 300;
    font-size: 20px;
    overflow: auto;
}
.mainForm .signUpForm{
    margin-left: 2vw;

}

.mainForm .signUpForm .form-row{
}

.mainForm .form-cell{
    display: table-cell;
    width: 20vw;
    padding-left: 2vw;
    padding-top: 2vh;
    
}

.mainForm .form-cell input{
    height: 4vh;
    width: 20vw;
    border-radius: 4px;
    border: 1px solid rgb(197, 197, 197);

}


.submitForm{
    height: 20vh;
    background: rgb(162, 162, 162);
}
.submitForm button{
    width: 12vw;
    height: 6vh;
    margin-left: 4vw;
    margin-top: 4vh;
    border-radius: 4px;
    border: none;
    box-shadow: 8px 4px 10px 2px rgb(108, 108, 108);
    font-family: "Helvetica";
    font-size: 0.9rem;
    font-weight: 700;
    color: white;
    background-color: rgb(57, 124, 58);
}

.submitForm p{
    
}
